body {
  /* background: rgb(136, 4, 129); */
  background: linear-gradient(
    90deg,
    rgba(136, 4, 129, 1) 0%,
    rgba(248, 245, 245, 1) 100%
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.counter {
  margin-top: 7%;
  justify-content: center;
  display: flex;
  height: 30px;
}
.container {
  margin-top: -60px;
}
h5 {
  font-size: 30px;
  text-align: center;
  /* margin: 100px 0; */
  margin-top: 2em;
  color: #ffffff;
}
h1 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(201, 238, 246, 1) 21%,
    rgba(4, 25, 136, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
input {
  width: 100px;
  text-align: center;
  border-radius: 0px;
  background-color: #e9d5ff;
  border: none;
  height: 38px;
  color: #ffffff;
  font-size: 25px;
}
.btn1 {
  background: #a5b4fc;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 50px;
  height: 40px;
  color: #ffffff;
  font-size: 32px;
}
.btn1:active {
  transform: translateY(4px);
}
.btn1:hover {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(119, 191, 137, 1) 39%,
    rgba(137, 190, 125, 1) 47%
  );
  /* transform: translateX(3px); */
}
.btn2 {
  background: #a5b4fc;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 50px;
  font-size: 32px;
  height: 40px;
  color: #ffffff;
}
.btn2:active {
  transform: translateY(4px);
}
.btn2:hover {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(119, 191, 137, 1) 39%,
    rgba(137, 190, 125, 1) 47%
  );
  /* transform: translateX(-4px); */
}
.mangekyou {
  background: black;
  width: 8em;
  height: 8em;
  position: relative;
  border: 5px #000 solid;
  animation: spin 5s ease-in-out;
  margin: 0 auto;
}

.mangekyou .point {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 5.6em;
  width: 5.6em;
  background: #e41414;
  animation: shine 5s ease-in-out;
}

.mangekyou .point:nth-child(1) {
  border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
  transform: translate(-50%, -50%) rotate(-15deg);
}

.mangekyou .point:nth-child(2) {
  border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
  transform: translate(-50%, -50%) rotate(15deg);
}

.mangekyou .point:nth-child(3) {
  border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
  transform: translate(-50%, -50%) rotate(-45deg);
  border: 3px #000 solid;
}

.mangekyou .point:nth-child(3)::before,
.mangekyou .point:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border: inherit;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.mangekyou .point:nth-child(3)::before {
  transform: translate(-50%, -50%) rotate(-60deg);
}

.mangekyou .point:nth-child(3)::after {
  transform: translate(-50%, -50%) rotate(60deg);
}

.mangekyou,
.circle,
.inner-ring {
  border-radius: 50%;
}

.circle {
  position: absolute;
  width: 1em;
  height: 1em;
  background: #000;
  z-index: 2;
}

.mangekyou .circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5em;
  height: 1.5em;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

@keyframes shine {
  0% {
    background: #e41414;
    opacity: 0;
  }
  50% {
    background: #f03a3a;
    box-shadow: 0 0 4px 4px #f03a3a;
  }
  100% {
    box-shadow: none;
    background: #e41414;
    opacity: 1;
  }
}

/* media query */
@media screen and (max-width: 574px) {
  .container {
    margin-top: -60px;
  }
  .counter {
    justify-content: center;
    margin-top: 20%;
  }
}
@media screen and (max-width: 972px) {
  .counter {
    justify-content: center;
    margin-top: 20%;
  }
}
